{"cljsjs/applicationinsights/development/applicationinsights.inc.js"
 "CF485D2E788686109F826D86C6820AA6",
 "cljsjs/applicationinsights/production/applicationinsights.min.inc.js"
 "C5385530E68BCE532C11D43D6048971A"}
