# This file documents which packages are maintained by someone.
# For these packages, you can ask help from mentioned people.

react/           @Deraen

js-joda/ @henryw374
js-joda-locale-en-us/ @henryw374
js-joda-timezone/ @henryw374
