{"cljsjs/amazon-cognito-identity-js/development/amazon-cognito-identity.inc.js"
 "BDA42543BF431AF6B2FD851ED0C955D5",
 "cljsjs/amazon-cognito-identity-js/production/amazon-cognito-identity.min.inc.js"
 "3F016B3D1E78138AF6BB33324011E8AB"}
